<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:lang="http://www.springframework.org/schema/lang" xmlns:amq="http://activemq.org/config/1.0"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-2.0.xsd
                           http://activemq.org/config/1.0 http://activemq.apache.org/schema/core/activemq-core-4.1.1.xsd">


      <bean id="messageListener" class="cyrille.springframework.jms.Listener" />

      <bean id="mqJmsConnectionFactory" class="com.ibm.mq.jms.MQQueueConnectionFactory">
         <property name="hostName" value="localhost" />
         <property name="port" value="1414" />
         <property name="channel" value="default" />
         <!-- JMSC.MQJMS_TP_CLIENT_MQ_TCPIP = 1-->
         <property name="transportType" value="1" />
      </bean>

      <bean id="jmsConnectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory102">
         <property name="targetConnectionFactory" ref="mqJmsConnectionFactory" />
      </bean>

      <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate102">
         <property name="connectionFactory" ref="jmsConnectionFactory" />
         <property name="defaultDestinationName" value="default" />
         <property name="pubSubDomain" value="false" />
      </bean>

      <bean id="listenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer102">
         <property name="concurrentConsumers" value="5" />
         <property name="connectionFactory" ref="jmsConnectionFactory" />
         <property name="destinationName" value="default" />
         <property name="messageListener" ref="messageListener" />
      </bean>

      <bean id="jmsQueueSender" class="cyrille.springframework.jms.Sender">
         <property name="jmsTemplate" ref="jmsTemplate" />
      </bean>
</beans>